%header{ 'ng-controller' => 'HeadersController'}
  Header
  %ul.categories
    %li.category{ 'ng-repeat' => 'category in categories.categories' }
      .category__name{'ng-click' => 'updateCategories(category.id)' } {{ category.name }}
