%header{ 'ng-controller' => 'HeadersController'}
  %ul.ffe-categories
    %li.ffe-category{ 'ng-repeat' => 'category in categories.categories' }
      .ffe-category__name{'ng-click' => 'updateCategories(category.id)' } {{ category.name }}
