<!DOCTYPE html>
<html>
<head>
  <title>FashionFlyEditor</title>
  <%= stylesheet_link_tag    "fashion_fly_editor/application", media: "all" %>
  <%= javascript_include_tag "fashion_fly_editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
