.editor__pane{ 'ng-controller' => 'SidebarsController'}
  %h4.clear Categories
  %ul.categories
    %li.category{ 'ng-repeat' => 'category in categories.categories' }
      %img{ 'ng-click' => 'selectCategory(category.id)', src: "{{category.icon}}", title: '{{ category.name}}', class: 'category__thumbnail', 'ng-click' => 'selectCategory(category.id)' }

  .filters.clear
    %h4 Filter
    %select{ ng: { model: 'filter_subcategory', options: 'subcategory.name for subcategory in subcategories.categories', change: 'updateItems()' } }
      %option{ value: ''} -- Unterkategorie --

    %select{ ng: { model: 'filter_brand', options: 'brand.name for brand in brands track by brand.id', change: 'updateItems()' } }
      %option{ value: ''} -- Marke --

    %select{ ng: { model: 'filter_color', options: 'color.hex for color in colors track by color.id', change: 'updateItems()' } }
      %option{ value: ''} -- Farbe --

    %select{ ng: { model: 'filter_priceRange', options: 'price.range for price in priceRanges track by price.range', change: 'updateItems()' } }
      %option{ value: ''} -- Preis --

  %h4.clear Items
  %ul.products
    %li.product{ 'draggable' => true, 'ng-repeat' => 'product in products.products', data: { item: "{{product}}" } }
      %img{ src: "{{product.image}}", class: 'product__thumbnail', 'ng-click' => 'selectProduct(product.id)', title: "{{ product.name }}" }
