%ul.ffe-categories.ffe-clear
  %li.ffe-category{ 'ng-click' => 'selectCategory(category.id)', 'ng-repeat' => 'category in categories.categories', 'ng-class' => "{active:isActive(category.id)}"}
    %img{ src:'', "my-src" => "{{category.icon}}", title: '{{ category.name}}', class: 'category__thumbnail', 'ng-click' => 'selectCategory(category.id)' }
    %span {{category.name}}
.ffe-filters.ffe-clear
  %select.ffe-filter__subcategory{ ng: { model: 'filter_subcategory', options: 'subcategory.name for subcategory in subcategories.categories', change: 'updateFilters()' } }
    %option{ value: ''} -- Unterkategorie --

  %select.ffe-filter__brand{ ng: { model: 'filter_brand', options: 'brand.name for brand in brands track by brand.id', change: 'updateFilters()' } }
    %option{ value: ''} -- Marke --

  %select.ffe-filter__color{ ng: { model: 'filter_color', options: 'color.hex for color in colors track by color.id', change: 'updateFilters()' } }
    %option{ value: ''} -- Farbe --

  %select.ffe-filter__pricerange{ ng: { model: 'filter_priceRange', options: 'price.range for price in priceRanges track by price.range', change: 'updateFilters()' } }
    %option{ value: ''} -- Preis --

= render 'items'
