%ul.ffe-categories.ffe-clear
  %li.ffe-category{ 'ng-click' => 'selectCategory(category.id)', 'ng-repeat' => 'category in categories.categories', 'ng-class' => "{active:isActive(category.id)}"}
    %img{ src:'', "my-src" => "{{category.icon}}", title: '{{ category.name}}', class: 'category__thumbnail', 'ng-click' => 'selectCategory(category.id)' }
    %span {{category.name}}

.ffe-filters.ffe-clear
  %div.ffe-filter__subcategory{"button-label" => "name", "input-model" => "subcategories.categories", "output-model" => 'filter_subcategory', "item-label" => "name", "multi-select" => "false", "selection-mode" => 'single', 'default-label' => "Kategorien", "tick-property" => "ticked", "on-item-click" => 'updateFilters()', "on-reset" => "resetFilter('subcategory')"}

  %div.ffe-filter__brand{"button-label" => "name", "input-model" => "brands", "output-model" => 'filter_brand', "item-label" => "name", "multi-select" => "false", "selection-mode" => 'single', 'default-label' => "Marke", "tick-property" => "ticked", "on-item-click" => 'updateFilters()', "on-reset" => "resetFilter('brand')"}

  %div.ffe-filter__color{"button-label" => "name", "input-model" => "colors", "output-model" => 'filter_color', "item-label" => "hex", "multi-select" => "false", "selection-mode" => 'single', 'default-label' => "Farbe", "button-label" => "hex", "tick-property" => "ticked", "on-item-click" => 'updateFilters()', "on-reset" => "resetFilter('color')"}

  %div.ffe-filter__pricerange{"button-label" => "name", "input-model" => "priceRanges", "output-model" => 'filter_priceRange', "item-label" => "range", "multi-select" => "false", "selection-mode" => 'single', 'default-label' => "Preis", "button-label" => "range", "tick-property" => "ticked", "on-item-click" => 'updateFilters()', "on-reset" => "resetFilter('priceRange')"}

= render 'items'
