.ffe-pagination.ffe-clear
  .ffe-pagination__previous{ 'ng-show' => '!pagination.first_page', 'ng-click' => 'pagination.paginate($event, pagination.current_page - 1)' }
  .ffe-pagination__next{ 'ng-hide' => 'pagination.last_page', 'ng-click' => 'pagination.paginate($event, pagination.current_page + 1)' }
