.ffe-editor.ffe-clear
  .ffe-editor__wrapper{ 'droppable' => true }
    .ffe-editor__canvas

  = render 'editor_pane'

  .ffe-editor__actions.ffe-clear{ ng: {controller: 'ActionsController'} }
    = link_to "Kollektion speichern", '#', class: 'btn btn-save', 'ng-click' => 'saveCollection()'
