.editor.clear
  .editor__wrapper{ 'droppable' => true }
    .editor__canvas

  = render 'editor_pane'

  .editor__actions.clear{ ng: {controller: 'ActionsController'} }
    = link_to "Kollektion speichern", '#', class: 'btn btn-save', 'ng-click' => 'saveCollection()'
