.ffe-categories{
  list-style-type: none;
}

.ffe-category{
  float: left;
}

.item__search{
  height: auto;
}

.search_field{
  input{
    height: 32px;
    border:1px solid #ccc;
    padding:5px;
    width: 320px;
  }
  button{
    padding: 5px;
    text-align: center;
    height: 44px;
    width: 58px;
    display: inline-block;
    cursor: pointer;
  }
}

.ff-tab_categories{
 .ffe-categories{
  padding: 0;
  margin: 0;
  height:150px;
  .ffe-category{
    cursor: pointer;
    float:left;
    height:67px;
    width: 58px;
    border: 1px solid #dbdbdb;
    padding: 2px;
    margin: 1px;
    position: relative;
    &.active{
      border-color: #333;
      background-color: #dbdbdb; };
    img{
      display: none;
      &.spinner{
        position: absolute;
        top: 33px;
        left: 21px;
        display: block;
        width:16px;
      }
      &.image{
        width:58px;
        margin: 0px auto;
        display: block;
      }
     }
    span{
      display: block;
      text-align: center;
      font-size: 11px;
      width: 58px;
      word-wrap: break-word;
      word-break: break-word;
    }
  }
 }

}