.ffe-categories{
  list-style-type: none;
}

.ffe-category{
  float: left;
}

.ff-tab_categories{
 .ffe-categories{
  padding: 0;
  margin: 0;
  .ffe-category{
    cursor: pointer;
    float:left;
    height:67px;
    border: 1px solid #dbdbdb;
    padding: 2px;
    margin: 1px;
    &.active{
      border-color: #333;
      background-color: #dbdbdb; };
    img{
      width: 58px;
      margin: 0px auto;
    }
    span{
      display: block;
      text-align: center;
      font-size: 11px;
      width: 58px;
    }
  }
 }

}