body{
  margin:0px;
  padding: 0px;
  display:none;
}

.container{
  min-width: 1170px;
}

header{
  margin-bottom: 1em;
  height: 47px;
  border-bottom: 1px solid black;
  #logo{
    float:left;
  }
  .ffe-categories, .ffe-navigation{
    margin:0px;
    padding:0px;
    height: 47px;
    float:left;
    margin-left: 15px;
    list-style: none;
    li{
      .ffe-category__name, a{
        cursor: pointer;
        padding: 14px 8px 15px 8px;
        text-decoration: none;
        display: block;
        float: left;
        color: black;
        &:hover{
          color: white;
          background: grey;
        }
      }
    }
  }
  .ffe-navigation{
    float: right;
  }
}

footer{
  margin-top: 1em;
}

.ffe-clear{
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
  }
}

.ff-tab-window{
  display: none;
  height: 583px;
  width: 401px;
  padding: 3px;
  &.active{
    display: block;
  }
}

.ngdialog.ngdialog-theme-plain .ngdialog-content{
  width: 640px;
}


.ffe-editor{
  position: relative;
  .ffe-editor__meta{
    z-index: 50000;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    position: absolute;
    font-size: 13px;
    top: 14px;
    left: 20px;
    padding:0px;
    margin:0px;
    width: 100%;
    .ffe-editor__collection_price, .ffe-editor__collection_add_element, .ffe-editor__collection_selected_item{
      display: inline-block;
      height: 16px;
      position: static;
    }
    .ffe-editor__collection_selected_item:before{
      font-weight: bold;
      content: " | "
    }
    .ffe-editor__collection_selected_item{
      font-weight: bold;
    }
  }
}