.ffe-editor{
}

.ffe-editor__canvas{
}

.ffe-editor__wrapper{
  width: 70%;
  float: left;
  border: 1px solid #dbdbdb;
  overflow: hidden;
  padding: 2em;
  position: relative;
}

.ffe-editor__canvas{
  margin: auto;
  width: 566px;
  height: 442px;
  border: 1px solid #dbdbdb;
}

.ffe-editor__pane{
  background-color: #fff;
  width: 24%;
  float: right;
  border: 1px solid #dbdbdb;
  z-index: 9999;
}

.ffe-item__remove{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}