.ffe-editor{
}

.ffe-editor__canvas{
}

.ffe-editor__wrapper{
  width: 70%;
  float: left;
  border: 1px solid #dbdbdb;
  overflow: hidden;
  padding: 2em;
  margin-left: 10px;
}

.ffe-editor__canvas{
  margin: auto;
  width: 544px;
  min-height: 442px;
  max-height: 442px;
  border: 1px solid #dbdbdb;
}

.ffe-editor__pane{
  background-color: #fff;
  width: 401px;
  margin-right: 10px;
  float: right;
  border: 1px solid #dbdbdb;
  z-index: 9999;
}

.ffe-item{
  cursor: pointer;
}

.ffe-item__remove{
  position: absolute;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 16px;
  right: 2px;
  top: 2px;
  text-align: center;
  padding: 2px;
  background-color: #dbdbdb;
  line-height: 13px;
  vertical-align: middle;
  visibility: hidden;
}

.ffe-item__flip{
  position: absolute;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 16px;
  right: 2px;
  bottom: 2px;
  text-align: center;
  padding: 2px;
  background-color: #dbdbdb;
  line-height: 13px;
  vertical-align: middle;
  &:before{
    content: "\21D4";
  }
  visibility: hidden;
}

.ffe-item__flop{
  position: absolute;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  text-align: center;
  padding: 2px;
  background-color: #dbdbdb;
  line-height: 13px;
  vertical-align: middle;
  &:before{
    content: "\21D5";
  }
  visibility: hidden;
}

/* jquery ui */

.ffe-item{
  border: 1px solid transparent;
  .ui-resizable-handle, .ui-rotatable-handle{
    visibility: hidden;
  }
}

.ffe-item{
  &.active{
    border: 1px solid #999;
    .ui-resizable-handle, .ui-rotatable-handle, .ffe-item__flop, .ffe-item__flip, .ffe-item__remove{
      visibility: visible;
    }
  }
  &.flip img{
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
  }
  &.flop img{
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-transform: scaleY(-1);
  }
  &.flip.flop img{
    -moz-transform: scale(-1,-1);
    -webkit-transform: scale(-1,-1);
    -o-transform: scale(-1,-1);
    transform: scale(-1,-1);
    -ms-transform: scale(-1,-1);
    -ms-filter: fliph flipv;
    filter: fliph flipv;
  }
}

.ui-resizable-n {
  cursor: n-resize; }

.ui-resizable-s {
  cursor: s-resize; }

.ui-resizable-e {
  cursor: e-resize; }

.ui-resizable-w {
  cursor: w-resize; }

.ui-resizable-se {
  cursor: se-resize; }

.ui-resizable-sw {
  cursor: sw-resize; }

.ui-resizable-nw {
  cursor: nw-resize; }

.ui-resizable-ne {
  cursor: ne-resize; }

.ui-resizable .ui-resizable-n,
.ui-resizable .ui-resizable-e,
.ui-resizable .ui-resizable-s,
.ui-resizable .ui-resizable-w,
.ui-resizable .ui-resizable-ne,
.ui-resizable .ui-resizable-se,
.ui-resizable .ui-resizable-nw,
.ui-resizable .ui-resizable-sw {
  border: 1px solid #999;
  background-color: #F2F2F2;
  height: 10px;
  width: 10px; }
.ui-resizable .ui-resizable-n,
.ui-resizable .ui-resizable-ne,
.ui-resizable .ui-resizable-nw {
  top: -12px; }
.ui-resizable .ui-resizable-s,
.ui-resizable .ui-resizable-se,
.ui-resizable .ui-resizable-sw {
  bottom: -12px; }
.ui-resizable .ui-resizable-w,
.ui-resizable .ui-resizable-nw,
.ui-resizable .ui-resizable-sw {
  left: -12px; }
.ui-resizable .ui-resizable-e,
.ui-resizable .ui-resizable-ne,
.ui-resizable .ui-resizable-se {
  right: -12px; }
.ui-resizable .ui-resizable-n,
.ui-resizable .ui-resizable-s {
  left: 50%; margin-left: -5px }
.ui-resizable .ui-resizable-e,
.ui-resizable .ui-resizable-w {
  top: 50%; margin-top: -5px }

.ui-rotatable-handle{
  position: absolute;
  left: 50%;
  margin-left: -6px;
  bottom: -36px;
}