.ffe-editor{
}

.ffe-editor__canvas{
}

.ffe-editor__wrapper{
  min-width: 560px;
  border: 1px solid #dbdbdb;
  position: absolute;
  overflow: hidden;
  left:10px;
}

.ffe-editor__canvas{
  position: absolute;
  width: 566px;
  min-height: 442px;
  border: 1px solid #dbdbdb;
}

.ffe-editor__pane{
background-color: #fff;
width: 401px;
border: 1px solid #dbdbdb;
z-index: 9999;
position: absolute;
right: 10px;
}

.ffe__items{
  position: relative;
}

.ffe-item{
  cursor: pointer;
}

.ffe-item__remove{
  position: absolute;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 16px;
  right: 2px;
  top: 2px;
  text-align: center;
  padding: 2px;
  background-color: #dbdbdb;
  line-height: 13px;
  vertical-align: middle;
  visibility: hidden;
}

.ffe-item__flip{
  position: absolute;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 16px;
  right: 2px;
  bottom: 2px;
  text-align: center;
  padding: 2px;
  background-color: #dbdbdb;
  line-height: 13px;
  vertical-align: middle;
  &:before{
    content: "\21D4";
  }
  visibility: hidden;
}

.ffe-item__flop{
  position: absolute;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  text-align: center;
  padding: 2px;
  background-color: #dbdbdb;
  line-height: 13px;
  vertical-align: middle;
  &:before{
    content: "\21D5";
  }
  visibility: hidden;
}

/* jquery ui */

.ffe-item{
  border: 1px solid transparent;
  .ui-resizable-handle, .ui-rotatable-handle{
    visibility: hidden;
  }
}

.ffe-editor__collection_selected_item{
  height: 20px;
}

.ffe-editor__meta{
  margin-left: 10px;
}

.ffe-item{
  &.active{
    border: 1px solid #999;
    .ui-resizable-handle, .ui-rotatable-handle, .ffe-item__flop, .ffe-item__flip, .ffe-item__remove{
      visibility: visible;
    }
  }
  &.flip img{
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
  }
  &.flop img{
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-transform: scaleY(-1);
  }
  &.flip.flop img{
    -moz-transform: scale(-1,-1);
    -webkit-transform: scale(-1,-1);
    -o-transform: scale(-1,-1);
    transform: scale(-1,-1);
    -ms-transform: scale(-1,-1);
    -ms-filter: fliph flipv;
    filter: fliph flipv;
  }
}

.ffe-pagination__next{
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 50%;
  background: url(image-path("fashion_fly_editor/arrows.gif")) no-repeat scroll 0 50% transparent;
  width: 12px;
  height: 40px;
}

.ffe-pagination__previous{
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  background: url(image-path("fashion_fly_editor/arrows.gif")) no-repeat scroll -44px 50% transparent;
  width: 12px;
  height: 40px;
}

.ui-resizable-n {
  cursor: n-resize; }

.ui-resizable-s {
  cursor: s-resize; }

.ui-resizable-e {ffe-pagination__previous{

}
  cursor: e-resize; }

.ui-resizable-w {
  cursor: w-resize; }

.ui-resizable-se {
  cursor: se-resize; }

.ui-resizable-sw {
  cursor: sw-resize; }

.ui-resizable-nw {
  cursor: nw-resize; }

.ui-resizable-ne {
  cursor: ne-resize; }

.ui-resizable .ui-resizable-n,
.ui-resizable .ui-resizable-e,
.ui-resizable .ui-resizable-s,
.ui-resizable .ui-resizable-w,
.ui-resizable .ui-resizable-ne,
.ui-resizable .ui-resizable-se,
.ui-resizable .ui-resizable-nw,
.ui-resizable .ui-resizable-sw {
  border: 1px solid #999;
  background-color: #F2F2F2;
  height: 10px;
  width: 10px; }
.ui-resizable .ui-resizable-n,
.ui-resizable .ui-resizable-ne,
.ui-resizable .ui-resizable-nw {
  top: -12px; }
.ui-resizable .ui-resizable-s,
.ui-resizable .ui-resizable-se,
.ui-resizable .ui-resizable-sw {
  bottom: -12px; }
.ui-resizable .ui-resizable-w,
.ui-resizable .ui-resizable-nw,
.ui-resizable .ui-resizable-sw {
  left: -12px; }
.ui-resizable .ui-resizable-e,
.ui-resizable .ui-resizable-ne,
.ui-resizable .ui-resizable-se {
  right: -12px; }
.ui-resizable .ui-resizable-n,
.ui-resizable .ui-resizable-s {
  left: 50%; margin-left: -5px }
.ui-resizable .ui-resizable-e,
.ui-resizable .ui-resizable-w {
  top: 50%; margin-top: -5px }

.ui-rotatable-handle{
  position: absolute;
  left: 50%;
  margin-left: -6px;
  bottom: -36px;
}

.field{
  &.error input{
    border: 1px solid red;
  }
}

.ffe-filters{
  margin-top: 1em;
  margin-bottom: 1em;
  height:19px;
  position: relative;
}

.ffe-filter__subcategory{
  width: 130px;
}

.ffe-filter__brand{
  width: 130px;
}

.ffe-filter__color{
  width: 52px;
}

.ffe-filter__pricerange{
  width: 74px;
}

.ffe-filters{
  select{
    display: none;
  }
}

.dropdown {
    position: relative;
    float: left;
    outline: none;
    font-size: 12px;
    color: #333;
    margin-left: 2px;
}
.dropdown{
  .color-indicator{
    width: 16px;
    height: 16px;
  }
  &.inactive{
    background-color: rgba(0,0,0,0.15);
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    -ms-transition: background 0.1s linear;
    transition: background 0.1s linear;
  }
  .label{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.dropdown > .selected {
    height: 15px;
    font-weight: 400;
    border: 1px solid rgba(0,0,0,0.15);
    position: relative;
    padding: 6px;
}
.dropdown.focus > .selected,
.dropdown:focus > .selected {
    outline: none;
}

.dropdown > .selected:hover,
.dropdown > .selected:focus {
    cursor: pointer;
    color: #000;
}
.dropdown > .selected i {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  line-height: 20px;
  border-left: 1px solid #E2E7EA;
  text-align: center;
  color: #999;
  font-size: 20px;
  font-style: normal;
}
.dropdown.open > .selected {

}

.dropdown ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #FFF;
    z-index: 10;
    border: 1px solid rgba(0,0,0,0.15);
    border-top: none;
    line-height: 1;
    max-height: 300px;
    overflow: auto;
    margin: 0;
    padding: 0;
}
.dropdown ul li {
    display: block;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:first-child{
      display: none;
    }
}
.dropdown ul li.selected {
    background: #EEE;
}
.dropdown ul li:last-child.selected {
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}
.dropdown ul li {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 10px 10px;
    color: #414141;
}

.dropdown ul li.hover {
    background: #EEE;
    color: #333;
}

.dropdown ul li .people {
    position: absolute;
    right: 10px;
}

@media screen and (max-width: 1500px) {
  .ffe-editor__wrapper{
    width: 58%;
  }
}